@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.heightCalc {
  height: calc(100vh - 87px);
}
.bgimage {
  background-image: url("https://cdn.wallpapersafari.com/33/45/5YmTDJ.jpg");
  filter: contrast(120%);
}
.hCalc {
  height: calc(100vh - 151px);
}
.maxW {
  max-width: 80%;
}
textarea {
  resize: none;
  height: 40px;
  max-height: 144px;
}
/* *:focus {
  outline: none;
} */

/* 

redux:[
  login: false,
  user: {},
  profileName: "",
  profilePhoto: "",
  selectedCon: "",
  showModal: false,
  dbUser:[]
  connection:[]
]

db [
  users
{
userMail:....,
authName:....,
authPhoto:...,
profileName:...,
profilePhoro:...,
lastSeen:....,
connects:..
}

connection:[
sides=[user1, user2]
messages:[
      {
          sender: user1,
          recipient: user2
          time: new Date(2022, 2, 13, 17, 51, 40, 0),
          message:
            " hello World  hello Worldhello Worldhello Worldhello Worldhello World hello Worldhello Worldhello Worldhello Worldhello World!!",
          seen: false,
        }
  ]
}



] */