@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.heightCalc {
  height: calc(100vh - 87px);
}
.bgimage {
  background-image: url("https://cdn.wallpapersafari.com/33/45/5YmTDJ.jpg");
  filter: contrast(120%);
}
.hCalc {
  height: calc(100vh - 151px);
}
.maxW {
  max-width: 80%;
}
textarea {
  resize: none;
  height: 40px;
  max-height: 144px;
}
#messageAudio::-webkit-media-controls-current-time-display,
#messageAudio::-webkit-media-controls-time-remaining-display {
  font-size: 10px;
}
#messageAudio {
  
}
